
.notifications {
    display: block;
    position: fixed;
    z-index: 5000
}
#header .lang-switcher a.active{
    color: #e83b2d!important;
    font-weight: 600;
}
.notification-wrapper {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0
}
.notification {
    display: block;
    box-sizing: border-box;
    background: #fff;
    text-align: left
}
.notification-title {
    font-weight: 600
}
.vue-notification {
    font-size: 12px;
    padding: 10px;
    margin: 0 5px 5px;
    color: #fff;
    background: #44a4fc;
    border-left: 5px solid #187fe7
}
.vue-notification.warn {
    background: #ffb648;
    border-left-color: #f48a06
}
.vue-notification.error {
    background: #e54d42;
    border-left-color: #b82e24
}
.vue-notification.success {
    background: #68cd86;
    border-left-color: #42a85f
}
.vn-fade-enter-active,
.vn-fade-leave-active,
.vn-fade-move {
    transition: all .5s
}
.vn-fade-enter,
.vn-fade-leave-to {
    opacity: 0
}
@media (max-width: 479px) {
    #header{
        height: 60px;
    }
    .nav-img{
        width: 120px;
    }
    #sidenav .sidenav-close {
        top: 3px;
        position: absolute;
        right: 23px;
        top: 47px;
    }
    .popup-content.log_form {
        margin: auto;
        width: 100%;
    }

    .followtext{
        padding-left: 42px;
        padding-right: 39px;
        padding-top: 14px;
    }
    .icon_tel{
        padding-left: 24px;
        margin-top: 10px;
    }
    .icon_mail{
        padding-left: 28px;
        margin-top: 10px;
    }

    .icon_facebook{
        padding-left: 46px;
        margin-top: 10px;
    }
    .icon_instagram{
        padding-left: 46px;
        margin-top: 10px;
    }
    .icon_youtube{
        padding-left: 47px;
        margin-top: 10px;
    }
    .timeopen{
        margin-left: -25px;
        margin-right: -12px;
    }
    .timeshop{
        margin-left: 29px;
    }

    .followtext{
        padding-left: 42px;
        padding-right: 39px;
        padding-top: 14px;
    }

    .copyrightresponsive{
        padding-bottom: 0px;
        padding-top: 111px;
    }

    .privacy{
        padding-top: 0px;
    }*/
}
@media (min-width: 480px) and (max-width: 767px) {
    #header{
        height: 60px;
    }
    #header .header-inner {
        height: 60px;
    }
    .nav-img{
        width: 120px;
    }
    .popup-content.log_form {
        margin: auto;
        width: 70%;
    }
    /* .icon_tel{
    padding-left: 168px;
}
    .icon_mail{
    padding-left: 104px;
}

    .icon_facebook{
    padding-left: 251px;
}
    .icon_instagram{
    padding-left: 187px;
}
    .icon_youtube{
    padding-left: 122px;
}
    .followtext{
    margin-top: 21px;
    padding-top: 31px;
    padding-right: 118px;
    padding-left: 167px;*/
}
}
@media (min-width: 768px) and (max-width: 991px) {
    #header{
        height: 86px;
    }
    .popup-content.log_form {
        margin: auto;
        width: 70%;
    }
    .border_mobile{
        border-bottom: 2px solid #e70718;
    }
    /*.icon_tel{
    padding-left: 70px;
}
    .icon_mail{
    padding-left: 50px;
}

    .icon_facebook{
    padding-left: 265px;
}
    .icon_instagram{
    padding-left: 264px;
}
    .icon_youtube{
    padding-left: 266px;
}*/
}
@media (min-width: 992px) and (max-width: 1199px) {
    .popup-content.log_form {
        margin: auto;
        width: 70%;
    }
    .icon_tel{
        padding-left: 53px;
    }
    .icon_mail{
        padding-left: 50px;
    }

    .icon_facebook{
        padding-left: 73px;
    }
    .icon_instagram{
        padding-left: 69px;
    }
    .icon_youtube{
        padding-left: 66px;
    }
}

@media (min-width: 360px) and (max-width: 640px) {

    .icon_tel{
        margin-left: 12px;
    }
    .icon_mail{
        margin-left: 10px;
    }

    .icon_facebook{
        margin-left: 28px;
    }
    .icon_instagram{
        margin-left: 16px;
    }
    .icon_youtube{
        margin-left: 6px;
    }
}

@media (min-width: 411px) and (max-width: 731px) {

    .icon_tel{
        margin-left: 31px;
    }
    .icon_mail{
        margin-left: 21px;
    }

    .icon_facebook{
        margin-left: 54px;
    }
    .icon_instagram{
        margin-left: 35px;
    }
    .icon_youtube{
        margin-left: 17px;
    }
}

@media (min-width: 1200px) {
    #header{
        height: 119px;
    }
    .popup-content.log_form {
        margin: auto;
        width: 70%;
    }
}

/*@media  sandy*/
@media (min-width: 320px) and (max-width: 480px) {

    .followtext{
        padding-top: 35px;
    }
    .icon_tel{
        padding-left: 41px;
        margin-top: 14px;
    }
    .icon_mail{
        padding-left: 38px;
        margin-top: 14px;
    }

    .icon_facebook{
        padding-left: 77px;
        margin-top: 10px;
    }
    .icon_instagram{
        padding-left: 64px;
        margin-top: 10px;
    }
    .icon_youtube{
        padding-left: 52px;
        margin-top: 10px;
    }
}

@media (min-width: 307px) and (max-width: 685px) {

    .followtext{
        padding-top: 35px;
    }
    .icon_tel{
        padding-left: 36px;
        margin-top: 14px;
    }
    .icon_mail{
        padding-left: 33px;
        margin-top: 14px;
    }

    .icon_facebook{
        padding-left: 68px;
        margin-top: 10px;
    }
    .icon_instagram{
        padding-left: 58px;
        margin-top: 10px;
    }
    .icon_youtube{
        padding-left: 49px;
        margin-top: 10px;
    }
    .timeopen{

        margin-right: -3px;
    }
    .timeshop{
        margin-left: 17px;
    }
}
@media (min-width: 340px) and (max-width: 685px) {
    .icon_tel{
        padding-left: 48px;
        margin-top: 14px;
    }
}

@media (min-width: 479px) {
    .popup-content.log_form {
        margin: auto;
        width: 70%;
    }


}

@media (min-width: 481px) and (max-width: 767px){

    .followtext{
        margin-top: 51px;
        margin-right: 142px;
        margin-left: 143px;
    }
    .icon_tel{
        padding-left: 93px;
        margin-top: -12px;
    }
    .icon_mail{
        padding-left: 61px;
        margin-top: -12px;
    }

    .icon_facebook{
        padding-left: 146px;
        margin-top: -16px;
    }
    .icon_instagram{
        padding-left: 109px;
        margin-top: -16px;
    }
    .icon_youtube{
        padding-left: 74px;
        margin-top: -16px;
    }
}

@media (min-width: 988px) and (max-width: 685px){

    .icon_tel{
        padding-left: 93px;
        margin-top: -12px;
    }
    .icon_mail{
        padding-left: 61px;
        margin-top: -12px;
    }

    .icon_facebook{
        padding-left: 146px;
        margin-top: -16px;
    }
    .icon_instagram{
        padding-left: 109px;
        margin-top: -16px;
    }
    .icon_youtube{
        padding-left: 74px;
        margin-top: -16px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .followtext{
        padding-top: 0px;
        padding-bottom: 24px;
    }
    .icon_tel{
        margin-left: -98px;
        padding-top: 15px;
    }
    .icon_mail{
        margin-left: -60px;
        padding-top: 15px;
    }

    .icon_facebook{
        margin-left: 15px;
        margin-top: -10px;
    }
    .icon_instagram{
        padding-left: 173px;
        margin-top: -10px;
    }
    .icon_youtube{
        margin-left: 111px;
        margin-top: -10px;
    }
}

@media (min-width: 695px) {

    .followtext {
        margin-top: 35px;
        margin-right: 257px;
        margin-left: 262px;
    }
    .icon_tel{
        padding-left: 166px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 106px;
        margin-top: -21px;
    }

    .icon_facebook{
        padding-left: 268px;
        margin-top: -17px;
    }
    .icon_instagram{
        margin-left: 86px;
        margin-top: -17px;
    }
    .icon_youtube{
        padding-left: 124px;
        margin-top: -18px;
    }
}

@media (min-width: 585px) and (max-width: 685px) {

    .followtext {
        padding-right: 11px;
        padding-left: 12px;
    }
    .icon_tel{
        padding-left: 166px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 106px;
        margin-top: -21px;
    }

    .icon_facebook{
        padding-left: 150px;
        margin-top: -17px;
    }
    .icon_instagram{
        margin-left: 34px;
        margin-top: -17px;
    }
    .icon_youtube{
        padding-left: 68px;
        margin-top: -18px;
    }
}

@media (min-width: 720px) and (max-width: 785px) {

    .followtext {
        padding-right: 11px;
        padding-left: 12px;
    }
    .icon_tel{
        padding-left: 137px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 83px;
        margin-top: -21px;
    }

    .icon_facebook{
        padding-left: 214px;
        margin-top: -17px;
    }
    .icon_instagram{
        margin-left: 81px;
        margin-top: -17px;
    }
    .icon_youtube{
        padding-left: 96px;
        margin-top: -18px;
    }
}

@media (min-width: 484px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 143px;
        margin-left: 145px;
    }
    .icon_tel{
        padding-left: 63px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 40px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 7px;
    }
    .icon_instagram{
        padding-left: 78px;
    }
    .icon_youtube{
        margin-left: 0px;
    }
}

@media (min-width: 540px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 171px;
        margin-left: 172px;
    }
    .icon_tel{
        padding-left: 85px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 45px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 35px;
    }
    .icon_instagram{
        padding-left: 97px;
    }
    .icon_youtube{
        margin-left: 10px;
    }
}

@media (min-width: 486px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 145px;
        margin-left: 151px;
    }
    .icon_tel{
        padding-left: 65px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 45px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 13px;
    }
    .icon_instagram{
        padding-left: 86px;
    }
    .icon_youtube{
        margin-left: 10px;
    }
}


@media (min-width: 503px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 153px;
        margin-left: 157px;
    }
    .icon_tel{
        padding-left: 65px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 45px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 13px;
    }
    .icon_instagram{
        padding-left: 86px;
    }
    .icon_youtube{
        margin-left: 10px;
    }
}


@media (min-width: 511px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 157px;
        margin-left: 163px;
    }
    .icon_tel{
        padding-left: 65px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 45px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 13px;
    }
    .icon_instagram{
        padding-left: 86px;
    }
    .icon_youtube{
        margin-left: 10px;
    }
}

@media (min-width: 508px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 157px;
        margin-left: 163px;
    }
    .icon_tel{
        padding-left: 65px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 45px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 13px;
    }
    .icon_instagram{
        padding-left: 86px;
    }
    .icon_youtube{
        margin-left: 10px;
    }
}

@media (min-width: 541px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 172px;
        margin-left: 172px;
    }
    .icon_tel{
        padding-left: 65px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 45px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 13px;
    }
    .icon_instagram{
        padding-left: 86px;
    }
    .icon_youtube{
        margin-left: 10px;
    }
}

@media (min-width: 572px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 187px;
        margin-left: 188px;
    }
    .icon_tel{
        padding-left: 93px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 58px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 53px;
    }
    .icon_instagram{
        padding-left: 112px;
    }
    .icon_youtube{
        margin-left: 21px;
    }
}

@media (min-width: 608px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 205px;
        margin-left: 203px;
    }
    .icon_tel{
        padding-left: 93px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 58px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 53px;
    }
    .icon_instagram{
        padding-left: 112px;
    }
    .icon_youtube{
        margin-left: 21px;
    }
}

@media (min-width: 632px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 217px;
        margin-left: 218px;
    }
    .icon_tel{
        padding-left: 112px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 58px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 80px;
    }
    .icon_instagram{
        padding-left: 125px;
    }
    .icon_youtube{
        margin-left: 21px;
    }
}

@media (min-width: 660px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 231px;
        margin-left: 229px;
    }
    .icon_tel{
        padding-left: 123px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 70px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 88px;
    }
    .icon_instagram{
        padding-left: 134px;
    }
    .icon_youtube{
        margin-left: 30px;
    }
}

@media (min-width: 614px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 209px;
        margin-left: 212px;
    }
    .icon_tel{
        padding-left: 105px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 70px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 73px;
    }
    .icon_instagram{
        padding-left: 126px;
    }
    .icon_youtube{
        margin-left: 30px;
    }
}

@media (min-width: 579px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 191px;
        margin-left: 192px;
    }
    .icon_tel{
        padding-left: 93px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 59px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 55px;
    }
    .icon_instagram{
        padding-left: 113px;
    }
    .icon_youtube{
        margin-left: 23px;
    }
}

@media (min-width: 618px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 211px;
        margin-left: 209px;
    }
    .icon_tel{
        padding-left: 93px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 59px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 55px;
    }
    .icon_instagram{
        padding-left: 113px;
    }
    .icon_youtube{
        margin-left: 23px;
    }
}

@media (min-width: 641px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 222px;
        margin-left: 221px;
    }
    .icon_tel{
        padding-left: 114px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 59px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 82px;
    }
    .icon_instagram{
        padding-left: 128px;
    }
    .icon_youtube{
        margin-left: 23px;
    }
}

@media (min-width: 664px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 233px;
        margin-left: 230px;
    }
    .icon_tel{
        padding-left: 114px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 59px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 82px;
    }
    .icon_instagram{
        padding-left: 128px;
    }
    .icon_youtube{
        margin-left: 23px;
    }
}
@media (min-width: 676px) and (max-width: 685px) {

    .followtext {
        margin-top: -27px;
        margin-right: 239px;
        margin-left: 235px;
    }
    .icon_tel{
        padding-left: 125px;
        margin-top: -21px;
    }
    .icon_mail{
        padding-left: 75px;
        margin-top: -21px;
    }

    .icon_facebook{
        margin-left: 92px;
    }
    .icon_instagram{
        padding-left: 132px;
    }
    .icon_youtube{
        margin-left: 23px;
    }
}
@media (min-width: 801px) and (max-width: 907px) {

    .followtext {
        margin-top: -6px;
        margin-right: 239px;
        margin-left: 235px;
    }
    .icon_tel{
        padding-left: 167px;
        margin-top: -29px;
    }
    .icon_mail{
        padding-left: 107px;
        margin-top: -30px;
    }

    .icon_facebook{
        margin-left: 17px;
        margin-top: -8px;
    }
    .icon_instagram{
        padding-left: 172px;
        margin-top: -8px;
    }
    .icon_youtube{
        margin-left: 107px;
        margin-top: -8px;
    }
}

@media (min-width: 977px) and (max-width: 999px) {

    .followtext {
        margin-top: -6px;
        margin-right: 239px;
        margin-left: 235px;
    }
    .icon_tel{
        padding-left: 167px;
        margin-top: -29px;
    }
    .icon_mail{
        padding-left: 107px;
        margin-top: -30px;
    }

    .icon_facebook{
        margin-left: 17px;
        margin-top: -8px;
    }
    .icon_instagram{
        padding-left: 172px;
        margin-top: -8px;
    }
    .icon_youtube{
        margin-left: 107px;
        margin-top: -8px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .followtext {
        margin-top: -6px;
        margin-right: 239px;
        margin-left: 235px;
    }
    .icon_tel{
        padding-left: 167px;
        margin-top: -29px;
    }
    .icon_mail{
        padding-left: 107px;
        margin-top: -30px;
    }

    .icon_facebook{
        margin-left: 64px;
        margin-top: -8px;
    }
    .icon_instagram{
        padding-left: 172px;
        margin-top: -8px;
    }
    .icon_youtube{
        margin-left: 134px;
        margin-top: -10px;
    }
}

@media (min-width: 480px) and (max-width: 520px) {

    .followtext {
        margin-top: -18px;
        margin-right: 73px;
        margin-left: 72px;
    }
    .icon_tel{
        padding-left: 67px;
        margin-top: -23px;
    }
    .icon_mail{
        padding-left: 39px;
        margin-top: -23px;
    }

    .icon_facebook{
        margin-left: 64px;
        margin-top: -8px;
    }
    .icon_instagram{
        padding-left: 80px;
        margin-top: -8px;
    }
    .icon_youtube{
        margin-left: 49px;
        margin-top: -8px;
    }
}




.input-group{
    display: block;
}
.alert_login{
    color:red;
}
.swal-text{
    font-size: 1rem;
    text-align: center;
}
.icon_footer{
    height: 30px;
    width: 30px
}
.icon_home{
    height: 70px;
    width: 70px
}
.height_name{
    height: 2.5em;
    overflow: hidden;
}
.modal-header{
    border:none;
}
.close_button{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 80px;
    line-height: 0.65;
    margin-left: 0;
    color: #cb021b;
}
.submenu li{
    text-align: left;
}
.sidenav-menu .submenu {
    margin-left: 10px;
}
.submenu li .icon_footer{
    margin-right: 15px
}
.button-close-sidenav{
    position: absolute;
    top: -67px;
    right: -15px;
}


@media (max-width: 767px){
    .nav-slide-logo img {
        width: 130px;
        height: auto;
    }
    .footer_menu{
        min-height: 32px;
        font-size: 19px;
    }
    .copyright_mobile{
        font-size: 11px!important;
        text-align: center;
    }
    .border_mobile{
        border-bottom: 2px solid #e70718;
    }
    #header .lang-switcher{
        display: inline-flex;
    }
    .font-xs{
        font-size:0.7rem!important;
    }
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color:transparent;
}
.delivery-available{

}
.delivery_footer{
    padding-right: 10px;
}
.right{
    float: right;
}
.avatar_mobile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #efefef;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #efefef;
    transition: all .2s ease-out;
}
.black{
    color:black!important;
    margin-right: 5px;
}
.sign-out-footer{
    right: 0;
    position: absolute!important;
}

.swal-button {
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 4px 10px;
}
.swal-button:active {
    background-color: #e20718;
}
.swal-button--catch{
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 3px 9px #c2c2c2;
    transition: all .2s ease-out;
    background: #e70818;
    color: white;
    display: block;
    border: 1px solid #e70818;
}
.swal-button--defeat{
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 3px 9px #c2c2c2;
    transition: all .2s ease-out;
    background: white;
    color: #e20718;
    display: block;
    border: 1px solid #e20718;
}
.swal-button--cancel{
    color:#fff!important;
}

button{
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn.focus, .btn:focus, .btn:hover{
    color:black;
}
.sidenav-footer{
    font-size: 24px
}
@media (max-width: 767px){
    .center-xs{
        text-align: center;
    }
}
#tab_search {
    color: #000;
    text-align: left;
    position: absolute;
    border-radius: 2px;
    background-color: white;
    overflow-y: scroll;
    max-height: 465px;
    z-index: 1024;
    width: 100%;
    box-shadow: 0 4px 3px 0 hsla(0, 0%, 72%, .6);
    list-style: none;
    padding: 0
}
li.list-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.list-item .list-item-img {
    width: 200px;
    margin-right: 20px;
}
.list-item .list-item-supertitle {
    line-height: 18px;
    margin-bottom: 0;
}
.list-item .list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}
.list-item-header {
    width: 100%;
    padding-left: 15px;
    font-weight: 700;
    color: #cecece;
}
.display{
    display: none;
}
.position{
    position: absolute;
    z-index: 99;
}
.search{
    z-index: 2;
    width: 100%;
    height: 40px;
    margin-top: 0;
    margin-left: 0;
    font-size: 1em;
    box-shadow: 2px 3px 19px #bcbcbc;
    padding: 0 0 0 40px;
}
.delivery-available p{
    position: relative;

    top:-1px;
}
.icon_search{
    z-index: 4;
    width: 40px;
    padding: 7px;
    top: 0px;
    position: absolute;

}
.card:hover{
    background-color: #966600!important;
}
@media (max-width: 767px){
    .search{
        margin-top: 0px;
        margin-bottom: 3px;
    }
    .icon_search{
        top: 0px;
    }
    .icon_search_mobile{
        z-index: 4;
        position: absolute;
        width: 40px;
        top: 67px;
        left: 10px;
        padding: 7px;
    }
    .input_search_mobile{
        width: 90%;
        padding: 0 0 0 33px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #search{
        display: block!important;
    }
    .list-item .list-item-img {
        width: 85px;
        margin-right: 20px;
    }
    .position{
        position: relative;
        margin: 0 0 15px 0;
    }
    .display{
        display: block;
    }
    .register_header{
        padding-top: 52px;
    }
}
.list-item-right{
    width: 100%;
}
.activemain{
    background-color:#ae210f;
    width: 10%;
}
.activecard{
    background-color: #966600;
}

.search_tab{
    position: fixed;
    width: 500px;
    height: 200px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}

.box_noti{
    cursor: pointer;
    position: fixed;
    transform: translateY(0%);
    right: 57px;
}

.count_noti{
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: .025em;
    border-radius: 50%;
    background-color: #e83b2d;
    position: absolute;
    transition: all .2s ease-out;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -12px;
    bottom: -5px;
    font-size: 0.8em;
    cursor: pointer;
}

@media(min-width: 479px){
    .count_noti{
        color: #fff;
        font-weight: 700;
        text-align: center;
        letter-spacing: .025em;
        border-radius: 50%;
        background-color: #e83b2d;
        position: absolute;
        transition: all .2s ease-out;
        width: 25px;
        height: 25px;
        line-height: 25px;
        right: -13px;
        bottom: -8px;
        font-size: 0.8em;
        cursor: pointer;
    }
}
@media(min-width: 768px){
    .count_noti{
        color: #fff;
        font-weight: 700;
        text-align: center;
        letter-spacing: .025em;
        border-radius: 50%;
        background-color: #e83b2d;
        position: absolute;
        transition: all .2s ease-out;
        width: 25px;
        height: 25px;
        line-height: 25px;
        right: 5px;
        bottom: -12px;
        font-size: 0.8em;
        cursor: pointer;
    }
}
.list-group-item{
    background-color: #b70513;
    text-align: center!important;
    border:none;
    border-bottom: 2px solid #fff!important;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.account_drop {
    display: none;
    top:110%!important;
}

.account_drop a {
    color: #fff!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#header .account .account_drop{
    font-family: blockberegular, db_heaventblack_cond;
    text-align: center;
    /* white-space: nowrap; */
    min-width: 240px;
    position: absolute;
    top: 150%;
    left: 60%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    background-color: #af0512;
    border-radius: 4px;
    z-index: 20;
}

#header .account .account_drop .sign-out a:hover{
    background-color: #f16a20!important;
}
.account_drop a:hover {background-color: #ddd;}

.dropdown:hover .account_drop {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
#header .account .account_drop li a{
    text-align: center;
    padding: 10px
}