html,
body {
    padding: 0;
    margin: 0;
}
svg,
img {
    width: 20px;
}
li.my-order {
    display: none !important;
}

#privacy_policy_terms_and_conditions a {
    color: red;
}
#privacy_policy_terms_and_conditions a::hover {
    color: black;
}
.cc-banner .cc-message {
    font-family: db_ozone,sans-serif;
    font-size: 1.2em ;
}
a.cc-link {
    display: none;
}
a.accept-cookie {
    font-size: 1.2em ;
    text-decoration: underline;
    padding-left: 10px;
}
a.accept-cookie.cc-btn.cc-dismiss {
    background-color: transparent;
    color: white;
    display: inline-table;
}
a.cc-btn {
    font-size: 1.0em !important;
    padding: 4px 0px 4px 0px;
    background: #f3c75f;
}
.swiper-pagination-bullet {
    opacity: 0.9;
    background-color: #ffffff;
}
.swiper-pagination-bullet-active{
    background-color: #3498db;
}
#header .account img {
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.clockicon_footer {
margin-right: 10px;
margin-top: 3px;
width: 24px;
height: 24px;
}