/* div.product-detail p {
        color: #969696 !important;
        height: 1em;
        overflow: hidden;
        margin: 10px 0px 0px 0px !important;
        font-size: 0.7em !important;
    }

    div.product-detail2 p {
        color: #969696 !important;
        height: 1em;
        overflow: hidden;
        margin: 5px 0px 15px 0px !important;
        font-size: 0.7em !important;
    } */
    p.product-detail {
        color: #969696 !important;
        height: 1em;
        overflow: hidden;
        margin: 10px 0px 0px 0px !important;
        font-size: 0.7em !important;
    }

    p.product-detail2 {
        color: #969696 !important;
        height: 1em;
        overflow: hidden;
        margin: 5px 0px 15px 0px !important;
        font-size: 0.7em !important;
    }

    .menu-button {
        margin-right: 15px;
        width: 100%;
    }

    @media  screen and (min-width: 769px) {
        .res_item {
            width: 25%;
        }
    }

    @media  screen and (min-width: 481px) and (max-width: 768px) {
        .res_item {
            width: 50%;
        }
    }

    @media  only screen and (max-width: 480px) {
        .res_item {
            width: 100%;
        }
    }

    .slick-prev {
        left: 0px;
        z-index: 5;
    }

    .slick-next {
        right: 0px;
    }

    @media (max-width: 767px) {

        .slick-prev:before,
        .slick-next:before {
            color: #e70718;
            text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
        }

        .slick-prev:before,
        .slick-next:before {
            color: #e70718;
            text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
        }

        .how-to-sign-up-card {
            position: relative !important;
            width: 80%;
            top: unset !important;
            left: unset !important;
            display: initial;
        }

    }

    .slick-prev:before {
        /*content: "\f104";*/
        font-family: 'slick';
        font-size: 40px;
        margin-right: -10px;
        z-index: 5;
    }

    .slick-next:before {
        /*content: "\f105";*/
        font-family: 'slick';
        font-size: 40px;
        margin-left: -20px;
        z-index: 5;
    }

    ul .icon {
        list-style: none;
        padding-left: 0;
        float: left;
        margin-top: 15px;
        margin-right: 50px;
    }

    .good li {
        margin-bottom: 10px;
        list-style: none;
        position: relative;
        margin-right: 10px;
        fill: #fff;
        font-size: 25px;
        color: white;
    }

    .size_half {
        font-size: 20px;
    }

    .panel {
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: none
    }

    .panel-group .panel+.panel {
        margin-top: 0
    }

    .panel-body {
        padding: 0
    }

     #image1[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-06.png'?v=2);
    }

    #image2[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-07.png '?v=2);
    }

    #image3[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-08.png '?v=2);
    }

    #image5[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-10.png '?v=2);
    }

    #image21[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-22.png '?v=2);
    }

    #image270[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-26.png '?v=2);
    }

    #image271[aria-expanded="true"] {
        content: url('icon_home/swensens_pic-28.png '?v=2);
    }

    #take-away-th[aria-expanded="true"],
    #take-away-th-mobile[aria-expanded="true"] {
        content: url('icon_home/sundea-set-th.png '?v=2);
    }

    #icecream-bar-th[aria-expanded="true"],
    #icecream-bar-th-mobile[aria-expanded="true"] {
        content: url('icon_home/icecream-bar-th-active.png '?v=2);
    }

     .how-to-sign-up {
        background: rgb(210, 7, 24);
        background: -moz-linear-gradient(left, rgba(210, 7, 24, 1) 0%, rgba(157, 5, 18, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(210, 7, 24, 1) 0%, rgba(157, 5, 18, 1) 100%);
        background: linear-gradient(to right, rgba(210, 7, 24, 1) 0%, rgba(157, 5, 18, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d20718', endColorstr='#9d0512', GradientType=1);
        margin-top: 25px;
    }

    .btn-how-to-sign-up {
        outline: none;
        border-radius: 5px;
        position: relative;
        transition: all .2s ease-out;
        padding: 5px 20px;
        margin: 15px 0 20px 0px;
    }

    .btn-how-to-sign-up:hover {
        box-shadow: 2px 3px 9px #380106;
    }

    .icon_search_mobile {
        z-index: 4;
        position: absolute;
        width: 40px;
        top: 67px;
        left: 10px;
        padding: 7px;
    }

    .input_search_mobile {
        width: 90%;
        padding: 0 0 0 33px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #image1:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image2:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image_pint:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image3:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image5:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image21:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image23:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image250:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image251:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image270:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #image271:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    #take-away-th:hover,
    #take-away-th-mobile:hover,
    #take-away-en:hover,
    #take-away-en-mobile:hover,
    #icecream-bar-th:hover,
    #icecream-bar-th-mobile:hover,
    #icecream-bar-en:hover,
    #icecream-bar-en-mobile:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    .icon_product {
        width: 120px;
        cursor: pointer;
    }

    #myVideo {
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }